<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit product</li>
    </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss = "alert" aria-label="Close"></button>
</div>
{{/if}}

<form class="row g-3 need-validation" action="/products/updateproducts" method="POST">
{{#each result}}
<div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">id</span>
        </div>
        <input type="text" class="form-control" name="id" value="{{this.id}}" readonly>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">categoryId</span>
        </div>
        <input type="text" class="form-control" name="categoryId" value="{{this.categoryId}}">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Product name</span>
        </div>
        <input type="text" class="form-control" name="productname" value="{{this.productname}}" readonly>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Bar code</span>
        </div>
        <input type="text" class="form-control" name="barcode" value="{{this.barcode}}">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Selling price</span>
        </div>
        <input type="text" class="form-control" name="sellingprice" value="{{this.sellingprice}}">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Import price</span>
        </div>
        <input type="text" class="form-control" name="importprice" value="{{this.importprice}}">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Weight</span>
        </div>
        <input type="text" class="form-control" name="weight" value="{{this.weight}}">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Image</span>
        </div>
        <input type="text" class="form-control" name="mainimg" value="{{this.mainimg}}">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Quantity</span>
        </div>
        <input type="text" class="form-control" name="quantity" value="{{this.quantity}}">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="" style="height: 200px;">Description</span>
        </div>
        <input type="text" class="form-control" name="description" style="height: 200px;" value="{{this.description}}">
    </div>
    
    <br>
    
    <div class="d-flex justify-content-end p-2">
        <button type="submit" class="btn btn-primary bi-plus-circle pull-right"> Save</button>
    </div>
  {{/each}}
</form>