{{!-- if(customer then just show add product to card) --}}

{{!-- {{result}} --}}

{{!-- Add product --}}
<div class="row">
  <div class="col-6"><h1>Products</h1></div>
  <div class="col-6 d-flex justify-content-end p-2"><a href="/products/addproducts" type="button" class="btn btn-primary algin-self-center">+ add product</a></div>
</div>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss = "alert" aria-label="Close"></button>
    <script>
      setTimeout(() => { window.location.href = 'http://localhost:8080'; }, 3000);
    </script>
</div>
{{/if}}

{{#if checkCookie}}
<script>
  document.getElementById('login').style.display = 'none';
  document.getElementById('logout').style.display = 'block';
</script>
{{/if}}


<br>
<table class="table table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product name</th>
      <th scope="col">Barcode</th>
      <th scope="col">Price</th>
      <th scope="col">Weight</th>
      <th scope="col">Image</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      {{!-- This action only by admins --}}
      <th scope="col" class="align-middle">Action</th>
    </tr>
  </thead>

  {{#each result}}
    {{!-- {{this.categoryId}} --}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td scope="col">{{this.productname}}</td>
      <td scope="col">{{this.barcode}}</td>
      <td scope="col">{{this.sellingprice}}</td>
      <td scope="col">{{this.weight}}</td>
      {{!-- <td scope="col">{{this.mainimg}}</td> --}}
      <td scope="col"><img src="/{{this.mainimg}}.png" alt=""></td>
      <td scope="col">{{this.quantity}}</td>
      <td scope="col">{{this.description}}</td>
      {{!-- This function only by admins --}}
      <td class="text-center">
          <a href="#" type="button", class="btn btn-light btn-small"><i class="bi bi-bag-plus"></i></a>
          <br>
          <br>
          <a href="/products/updateproducts/{{this.id}}" type="button", class="btn btn-light btn-small"><i class="bi bi-pencil"></i></a>
          <br>
          <br>
          <a href="/products/deleteproducts/{{this.id}}" type="button", class="btn btn-light btn-small"><i class="bi bi-trash"></i></a>
          <br>
          <br>
      </td>
    </tr>
  {{/each}}
</table>